{sub_dirs, ["rel", "apps/status_server"]}.

{deps_dir, "deps"}.

{deps, [{emysql, ".*",
            {git, "git://github.com/Eonblast/Emysql.git", {branch, "master"}}},
        {lager, ".*", 
            {git, "git://github.com/basho/lager.git", "master"}}]}.

{erl_opts, [{parse_transform, lager_transform}]}.
